@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
#dotGrid {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.35) 1px,
    transparent 0
  );
  background-size: 25px 25px;
  background-position: -19px -19px;
}
@keyframes Hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes LoadUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes LoadRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes LoadLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.TopLoad {
  animation: LoadUp 550ms ease-in;
}
.BottomLoad {
  animation: LoadUp 500ms ease-in;
}
.Hide {
  animation: Hide 550ms;
}

@keyframes NavbarDown {
  0% {
    transform: translateY(-4rem) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
header {
  animation: NavbarDown 0.95s;
}